/* --------------------------------------------------
# General
----------------------------------------------------*/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Gotu', sans-serif;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------
# Header - Navigation
----------------------------------------------------*/

nav {
    height: 140px;
    padding: 24px 16px;
    transition: all 0.5s ease-in-out;
}

#logo {
    transition: all 0.5s;
    border-radius: 3px;
    filter: brightness(0) invert(1);
}

#logo:hover {
    transform: scale(0.8);
    transition: all 0.5s;
}

ul li {
    padding: 10px;
    font-family: 'Abel', sans-serif;
    font-size: 19px;
    transition: all 0.5s;
    font-weight: bold;
}

.navbar-toggler-icon {
    font-size: 23px;
}

@media only screen and (max-width: 768px) {
    nav {
        height: 140px;
        padding: 0px 0px;
        transition: all 1s;
    }
    div.collapse {
        margin-bottom: 20px;
        transition: all 1s;
    }
    ul li {
        border-bottom: 1px solid #f8f9fa;
        display: flex;
        justify-content: flex-start;
        /* background: #343434!important; */
        background-image: linear-gradient(to left top, #16d4e6, #2980b9);
        transition: all 1s;
    }
}

/* --------------------------------------------------
# Hero Section
----------------------------------------------------*/

#hero {
    background: linear-gradient(to bottom, rgba(0, 80, 172, 0.9), rgba(0, 30, 63, 0.9)), url('../img/hero/hero1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 750px;
}

#hero #contents {
    height: 750px;
}

#hero-content-1, #hero-content-2 {
    padding-top: 140px;
}

#hero h1 {
    background-image: linear-gradient(to right bottom, #16d4e6, #2980b9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* mix-blend-mode: overlay;
    opacity: 0.9;
    color: #f8f9fa; */
    font-size: 80px;
    font-weight: bold;
}

#hero p {
    line-height: 2.5rem;
    filter: contrast(90%);
    position: absolute;
    margin-top: 15px;
}

/* #hero #img {
    filter: contrast(90%);
} */

@media only screen and (max-width: 1200px) {
    #hero {
        height: 850px;
    }
    #hero #contents {
        height: 850px;
    }
    #hero-content-1, #hero-content-2 {
        padding-top: 190px;
    }
}

@media only screen and (max-width: 1024px) {
    #hero {
        height: 770px;
    }
    #hero #contents {
        height: 770px;
    }
    #hero-content-1, #hero-content-2 {
        padding-top: 200px;
    }
}

@media only screen and (max-width: 850px) {
    #hero {
        height: 750px;
    }
    #hero #contents {
        height: 750px;
    }
    #hero-content-1, #hero-content-2 {
        padding-top: 140px;
    }
}

@media only screen and (max-width: 768px) {
    #hero {
        height: 700px;
    }
    #hero #contents {
        height: 700px;
    }
}

@media only screen and (max-width: 767px) {
    #hero {
        height: 720px;
    }
    #hero #contents {
        height: 720px;
    }
}

@media only screen and (max-width: 762px) {
    #hero {
        height: 700px;
    }
    #hero #contents {
        height: 700px;
    }
}

@media only screen and (max-width: 750px) {
    #hero {
        height: 850px;
    }
    #hero #contents {
        height: 850px;
    }
}

@media only screen and (max-width: 640px) {
    #hero {
        height: 850px;
    }
    #hero #contents {
        height: 850px;
    }
}

@media only screen and (max-width: 576px) {
    #hero {
        height: 750px;
    }
    #hero #contents {
        height: 750px;
    }
    #hero h1 {
        font-size: 60px;
        text-align: left;
        margin-top: -40px;
    }
    #hero p {
        text-align: left;
    }
}

@media only screen and (max-width: 415px) {
    #hero {
        height: 850px;
    }
    #hero #contents {
        height: 850px;
    }
    #hero p {
        padding-right: 10px;
    }
}

@media only screen and (max-width: 411px) {
    #hero {
        height: 800px;
    }
    #hero #contents {
        height: 800px;
    }
}

@media only screen and (max-width: 400px) {
    #hero {
        height: 800px;
    }
    #hero #contents {
        height: 800px;
    }
}

@media only screen and (max-width: 399px) {
    #hero {
        height: 890px;
    }
    #hero #contents {
        height: 890px;
    }
}

@media only screen and (max-width: 390px) {
    #hero {
        height: 870px;
    }
    #hero #contents {
        height: 870px;
    }
}

@media only screen and (max-width: 320px) {
    #hero {
        height: 900px;
    }
    #hero #contents {
        height: 900px;
    }
}

/* ==== Image Animation ==== */

#img {
    -webkit-animation: mover 1s ease-in-out 0 infinite alternate;
    animation: mover 1s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* ==== Hero Indicators ==== */

#hero #indicators {
    margin-top: -350px;
    float: right;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

@media only screen and (max-width: 1275px) {
    #hero #indicators {
        float: none;
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-top: 0px;
        margin-right: -555px;
    }
}

#indicators #blue-circle {
    color: #006bff;
}

#indicators #blue-circle:hover {
    cursor: pointer;
}

#indicators #black-circle {
    margin-top: 10px;
    color: #f8f9fa;
}

#indicators #black-circle:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1275px) {
    #indicators #blue-circle, #indicators #black-circle {
        margin-top: 0px;
        padding: 5px;
    }
}

/* ==== Hero Call To Action Buttons ==== */

#hero .call-action {
    position: relative;
    margin-top: 170px;
}

@media only screen and (max-width: 1024px) {
    #hero .call-action {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 900px) {
    #hero .call-action {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 768px) {
    #hero .call-action {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 740px) {
    #hero .call-action {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 576px) {
    #hero .call-action {
        margin-top: 180px;
    }
}

@media only screen and (max-width: 414px) {
    #hero .call-action {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 376px) {
    #hero .call-action {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 320px) {
    #hero .call-action {
        margin-top: 260px;
    }
}

/* ================ */

#hero a:link, #hero a:visited {
    border-radius: 50px;
    transition: all .4s;
}

#hero a:hover, #hero a:active {
    background-color: #005ddd !important;
}

#hero a#get-started:link, #hero a#get-started:visited {
    background: #006bff;
    border: #006bff 1px solid;
}

#hero a#explore:link, #hero a#explore:visited {
    margin-left: 15px;
}

#hero a#get-started:hover, #hero a#get-started:active {
    border: #005ddd 1px solid;
}

#hero a#explore:hover, #hero a#explore:active {
    color: #fff;
    border: #005ddd 1px solid;
}

/* ==== ------------ ==== */

@media (max-width: 576px) {
    #hero .call-action a.btn {
        display: flex;
        justify-content: center;
    }
    #hero .call-action a#explore {
        margin-top: 25px;
        margin-left: 0px;
    }
}

/* ==== ------------ ==== */
