/* --------------------------------------------------
# General
----------------------------------------------------*/
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
}

/* --------------------------------------------------
# Header - Navigation
----------------------------------------------------*/
/* #header {
    background: #f8f9fa!important;
} */

nav {
    height: 140px;
    padding: 24px 16px;
    transition: all 0.5s ease-in-out;
}

ul li {
    padding: 10px;
    font-family: 'Dosis', sans-serif;
    font-size: 19px;
    transition: all 0.5s;
    background: #f8f9fa!important;
}

@media (max-width: 576px) {
    nav {
        height: 140px;
        padding: 0px 0px;
        transition: all 1s;
    }

    div.collapse {
        margin-bottom: 20px;
        transition: all 1s;
    }

    ul li {
        border-bottom: 2px solid #000000;
        display: flex;
        justify-content: flex-start;
        background: #f8f9fa!important;
        transition: all 1s;
    }
            
}

#logo {
    transition: all 0.5s;
}

#logo:hover {
    transform: scale(0.8);
    transition: all 0.5s;
}

/* --------------------------------------------------
# Hero Section
----------------------------------------------------*/
#hero {
    height: 750px;
    /* background-image: linear-gradient(to top, rgba(30, 144, 255, 0.0), rgba(1, 6, 15, 0.164)); */
    background: #f8f9fa!important;
}

#hero-content-1, #hero-content-2 {
    padding-top: 140px;
    transition: all 1s;
}

/* #hero h1 {
    opacity: 0.9;
} */

#hero p {
    line-height: 2.5rem;
}

 #hero a#get-started {
    border-radius: 50px;
    transition: all 0.5s;
}

#hero a#get-started:hover {
    background: transparent;
    color: #007bff;
    transition: all 0.5s;
}

#hero a#explore {
    margin-left: 15px;
    border-radius: 50px;
    transition: all 0.5s;
}

#hero a#explore:hover {
    transition: all 0.5s;
}

@media (max-width: 1300px) {
    #hero {
        height: 750px;
    }
}

@media (max-width: 850px) {
    #hero {
        height: 600px;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 580px;
    }
}


@media (max-width: 767px) {
    #hero {
        height: 720px;
    }
}

@media (max-width: 762px) {
    #hero {
        height: 700px;
    }
}

@media (max-width: 750px) {
    #hero {
        height: 700px;
    }
}

@media (max-width: 576px) {

    #hero {
        height: 750px;
    }
   
    #hero h1 {
        font-size: 60px;
        text-align: center;
        margin-top: -40px;

    }

    #hero p {
        text-align: center;
    }

    #hero a.btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #hero a#explore {
        margin-top: 25px;
        margin-left: 0px;
    }
}

@media (max-width: 415px) {
    #hero {
        height: 760px;
    }
}

@media (max-width: 411px) {
    #hero {
        height: 800px;
    }
}

@media (max-width: 400px) {
    #hero {
        height: 800px;
    }
}

@media (max-width: 399px) {
    #hero {
        height: 890px;
    }
}

@media (max-width: 390px) {
    #hero {
        height: 870px;
    }
}

@media (max-width: 320px) {
    #hero {
        height: 900px;
    }
}



/* Image vertical move */
#img {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#hero #indicators {
    margin-top: -350px;
    float: right;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}


@media (max-width: 1275px) {
    #hero #indicators {
        float: none;
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-top: 0px;
        margin-right: -555px;
    }
}


@media (max-width: 1200px) {
    #hero #indicators {
        float: none;
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-top: -80px;
        margin-right: 0px;
        margin-left: 480px;
    }
}


@media (max-width: 1024px) {
    #hero #indicators {
        float: none;
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-top: -80px;
        margin-right: 0px;
        margin-left: 480px;
    }
}

#indicators #blue-circle {
    color: #007bff;
}

#indicators #blue-circle:hover {
    cursor: pointer;
}

#indicators #black-circle {
    margin-top: 10px;
    color: #6c757d;
}

#indicators #black-circle:hover {
    cursor: pointer;
}

@media (max-width: 1275px) {
    #indicators #blue-circle, #indicators #black-circle {
        margin-top: 0px;
        padding: 5px;
    }
}

@media (max-width: 1200px) {
#indicators #blue-circle, #indicators #black-circle {
        margin-top: 0px;
        padding: 5px;
    }
}

@media (max-width: 1024px) {
    #indicators #blue-circle, #indicators #black-circle {
        margin-top: 0px;
        padding: 5px;
    }
}